body{
	background-color: #A168E8;
	font-family:Lucida Grande;
}
.jumbotron {
	background-color: #A168E8;
}
.hero-spacer{
	color:#FFFDF4;
	font-family:Lucida Grande;
}
.chicken{
	color:#FFFDF4;
	font-family:Lucida Grande;
}
.candy{
	color:black;
}
.yogurt{
	color:#FFFDF4;
}
.fish{
	color:#FFFDF4;
}
.lemon{
	font-size:40px;
}